<h3>
  <b>
    Привет, это тестовое задание по курсу RxJs.
  </b>
</h3>
<h4>
  Задача максимально приближена к реальной, на каждом проекте мы имеем
  какую-либо админку, где выводятся данные и к ним добавляется фильтрация (по имени, емейлу, ид и тд)<br />
  Рассмотрим сегодня подобный случай, который поможет в будущем развернуть любое количество фильтров и максимально
  ускорить поиск информации
</h4>
<ul>
  <li>
    Создать git branch в этом проекте для себя
  </li>
  <li>
    Создать lazy load модуль, который будет отображаться как стартовая страница по корневому адресу
  </li>
  <li>
    Добавить в модуль компонент, реализующий следующее:

  </li>
</ul>
<ol>
  <li>
    Вывести в таблицу список пользователей<br />
    3 колонки - id, email, status<br />
    Запрос: <code>GET https://gorest.co.in/public/v1/users</code>
  </li>
  <li>
    Добавить <u><b>2</b></u> фильтра к таблице<br />
    - Текстовое поле с вводом email<br />
    - Checkbox active|inactive
    <br /><br />
    Запрос и примеры: <br />
    <code>https://gorest.co.in/public/v1/users?status=inactive</code><br />
    <code>https://gorest.co.in/public/v1/users?status=active</code><br />
    <code>https://gorest.co.in/public/v1/users?email=IronSpider113@gmail.com</code>
    <br /><br />
    при пустом поле вводе разрешено отправлять пустой гет параметр, пример<br />
    <code>https://gorest.co.in/public/v1/users?status=inactive&email=</code>
  </li>
  <li>
    При изменении фильтров должен автоматически отсылаться запрос на новые данные и обновлять табличку,
    без кнопки Submit
  </li>
  <li>
    На фильтрах должны быть обработчики, не позволяющие заспамить сервер при быстром изменении параметров
  </li>
  <li>
    Вывод на страницу осуществляется с использованием pipe async
  </li>
  <li>
    При изменении фильтров должен меняться url страницы, пример:<br />
    Сайт DNS, при выборе фильтров изменяется url - <code>/planshety/?stock=1&price=3999-4000&brand=apple</code>, это
    позволяет
    сохранять выбор после обновления страницы, а так же делиться ссылкой с предвыбранным набором
  </li>
  <li>
    В обратном порядке, при нажатии f5 поле емейла и галочка active должны заполняться в соответствии с параметрами в
    url
  </li>
</ol>
<hr>
<h4>
  Заметки и подсказки
</h4>
<ul>
  <li>
    *
    В проекте установлена библиотека, проверяющая код на общемировые стандарты написания - <code>eslint</code>. Сейчас у
    нас она
    используется в тестовом варианте, правила еще могут дополниться, но в будущем на каждом проекте будем писать с
    ней.<br /><br />
    Как работает - если вы написали код с ошибочным синтаксисом (пример: создали переменную через let, а можно было
    сделать const, поставили лишние табы и тд), среда разработки автоматически подчеркнет ошибку и по возможности
    предоставит вариант ее
    исправления, так же при сборке проекта код приведется автоматически в порядок, тем самым проект будет выглядеть
    всегда одинаковое, независимо от того, кто его писал<br /><br />
    Чтобы авматически проверить проект на корректной и исправить ошибки можно воспользоваться командой
    <code>npm run lint</code><br />
    <u>
      <b>
        Проект считается завершенным, когда выполняется без ошибок команда npm run build
      </b>
    </u><br /><br />
    почитать подробнее о правилах можно на:
    <code>https://github.com/airbnb/javascript</code><br />
    <code>https://eslint.org/</code><br /><br />
  </li>
  <li>
    Обратить внимание, что inactive\active параметр уходит в запрос строкой, а не boolean переменной
  </li>
  <li>
    Обратить внимание, как в udemy курсе производилось получение данных из html формы
  </li>
  <li>
    Не забываем про общие принципы проектирования - структура папок, интерфейсы, сервисы и тд, все, что обычно
    испольуется в живом проекте
  </li>
  <li>
    <u><b>Постраничный вывод в таблице можно не реализовывать, достаточно первоначальных данных из респонза</b></u>
  </li>
  <li>
    <u><b>Стили по желанию, на оценку задачи они влиять не будут</b></u><br />
    Интересует <u><b>только</b></u> форма с двумя полями, способ вывода данных и реализация всех подписок
  </li>
</ul>